@font-face {
    font-family: Montserrat-medium;
    src: url('montserrat/Montserrat-Medium.ttf ') format('truetype');
}
@font-face {
    font-family: Montserrat-SemiBold;
    src: url('montserrat/Montserrat-SemiBold.ttf ') format('truetype');
}

.teste{
    /*display: inline;*/
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

h1#titulo.header_before_search{
    margin-top: 20vh;
    font-family: "Montserrat-SemiBold";
    font-size: 5vh;
    line-height: 5.5vh;
}

h1#titulo.header_after_search{
    font-family: "Montserrat-SemiBold";
    font-size: 4vh;
    line-height: 3.5vh;
    margin-bottom: 5vh;
    margin-top: 10vh;
}

label{
    font-family: "Montserrat-SemiBold";
    font-size: 2.5vh;
    margin-right: 2vw;
}

p{
   font-family: "Montserrat-SemiBold";
   font-size: 3vh;
}

table{
    border: 1px solid black;
    border-spacing: 5vh;
    border-radius: 2vw;
    max-width: 50%;
}

th{
    font-family: "Montserrat-Semibold";
    font-size: 2.5vh;
    line-height: 3.5vh;
    align: center;
    padding: 0 2vw;
}

td{
    font-family: "Montserrat-medium";
    /*font-size: 3vh;*/
    text-align: center;
    padding: 1.5vh 1vw;
}

tr{
    border: 1px solid black;
}

.tabela{
    margin-top: 5vh;
}

button{
    margin-left: 2vw;
}

.hidden{
    display: none;
}
